.lights{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.light-effect {
    width: 100%;
    height: 100%;
    z-index: 0;
    position: absolute;
}

/* ------------------------------------ */

.light-effect.rotate .light-bulb:first-child {
    animation: bulb-rotate-1 var(--animation-timing) linear infinite none;
}
.light-effect.rotate .light-bulb:last-child {
    animation: bulb-rotate-2 var(--animation-timing) linear infinite none;
}

/* ------------------------------------ */


.light-effect.rotate .light:first-child {
    animation: light-rotate-1 var(--animation-timing) linear infinite none;
}
.light-effect.rotate .light:last-child {
    animation: light-rotate-2 var(--animation-timing) linear infinite none;
}
/* ------------------------------------ */


.light-effect.blur .light .brightness {
    animation: brightness-blur 3s linear 1 none;
    visibility: hidden;
}

.light-effect.rotate .light:first-child .brightness {
    animation: brightness-rotate-1 var(--animation-timing) linear infinite none;
}
.light-effect.rotate .light:last-child .brightness {
    animation: brightness-rotate-2 var(--animation-timing) linear infinite none;
}
/* ------------------------------------ */

.light-effect.blur .fake-light {
    animation: fake-light-blur 3s linear 1 none;
    visibility: hidden;
}
.light-effect.rotate .fake-light:first-child {
    animation: light-running-1 var(--animation-timing) linear infinite none;
}

.light-effect.rotate .fake-light:last-child {
    animation: light-running-2 var(--animation-timing) linear infinite none;
}

/* ------------------------------------ */

.lights-bulb {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    width: 100%;
    background: red;
    z-index: 1000;
}
.light-bulb {
    width: 1%;
    aspect-ratio: 1/1.5;
    background-color: black;
    left: 50%;
    transform: translateX(-50%) rotateY(0deg) rotateZ(0deg);
    transform-origin: top center;
    position: absolute;
}
.light-bulb::before {
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 1;
    background-color: #1e2f39;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
}
.light-bulb::after {
    content: "";
    width: 80%;
    aspect-ratio: 1 / 1;
    position: absolute;
    bottom: -19%;
    left: 50%;
    transform: translateX(-45%) rotateX(71deg);
    background-color: #06d4ff;
    border-top-right-radius: 30%;
    border-top-left-radius: 30%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    z-index: 1;
}
@keyframes bulb-rotate-1 {
    0% {
        transform: translateX(-50%) rotateY(0deg) rotateZ(0deg);
    }
    50% {
        transform: translateX(-50%) rotateY(0deg) rotateZ(43deg);
    }
    100% {
        transform: translateX(-50%) rotateY(0deg) rotateZ(0deg);
    }
}
@keyframes bulb-rotate-2 {
    0% {
        transform: translateX(-50%) rotateY(0deg) rotateZ(0deg);
    }
    50% {
        transform: translateX(-50%) rotateY(0deg) rotateZ(-43deg);
    }
    100% {
        transform: translateX(-50%) rotateY(0deg) rotateZ(0deg);
    }
}

.stage-lights {
    width: 80%;
    display: flex;
    position: absolute;
    top: 0;
    justify-content: space-between;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
}

.light {
    transform-origin: top center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%) rotate(0deg);
    /* visibility: hidden; */
}

.brightness {
    transform: scaleY(2.9) scaleX(1.32);
    font-size: 2711%;
    transform-origin: top center;
    position: relative;
    filter: blur(1px);
    line-height: 0.58;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(to top, #00b8ff47 0%, #92b4cd52 100%);
}
.fake-lights {
    position: absolute;
    width: 100%;
    bottom: 29%;
}
.fake-light {
    position: absolute;
    left: 50%;
    width: 5.7%;
    aspect-ratio: 116 / 115;
    border-radius: 50%;
    transform: translateX(-50%) scaleX(3.5);
    filter: blur(2px);
    top: 0px;
    background-image: linear-gradient(to top, #00b3f8f2 0%, #03a5f24f 100%);
}
@keyframes brightness-blur {
    0% {
         opacity: 100%;
        visibility: visible;
    }
    100% {
         opacity: 0%;
        visibility: visible;
    }
}
@keyframes fake-light-blur {
    0% {
        opacity: 100%;
        visibility: visible;
    }

    100% {
        opacity: 0%;
        visibility: visible;
    }
}

@keyframes brightness-rotate-1 {
    0% {
        transform: scaleY(2.9) scaleX(1.32) skewY(0deg);
    }
    12.5% {
        transform: scaleY(3) scaleX(1.3) skewY(-4deg);
    }
    25% {
        transform: scaleY(3.18) scaleX(1.18) skewY(-10deg);
    }
    37.5% {
        transform: scaleY(3.5) scaleX(1) skewY(-10deg);
    }
    50% {
        transform: scaleY(4) scaleX(1) skewY(-14deg);
    }
    62.% {
        transform: scaleY(3.5) scaleX(1) skewY(-10deg);
    }
    75% {
        transform: scaleY(3.18) scaleX(1.18) skewY(-10deg);
    }
    87.5% {
        transform: scaleY(3) scaleX(1.3) skewY(-4deg);
    }
    100% {
        transform: scaleY(2.9) scaleX(1.32) skewY(0deg);
    }
}

@keyframes light-rotate-1 {
    0% {
        transform: translateX(-50%) rotate(0deg);
    }
    25% {
        transform: translateX(-50%) rotate(25deg);
    }
    40% {
        transform: translateX(-50%) rotate(37deg);
    }

    50% {
        transform: translateX(-50%) rotate(43deg);
    }
    60% {
        transform: translateX(-50%) rotate(37deg);
    }
    75% {
        transform: translateX(-50%) rotate(25deg);
    }

    100% {
        transform: translateX(-50%) rotate(0deg);
    }
}

@keyframes brightness-rotate-2 {
    0% {
        transform: scaleY(2.9) scaleX(1.32) skewY(0deg);
    }
    12.5% {
        transform: scaleY(3) scaleX(1.3) skewY(4deg);
    }
    25% {
        transform: scaleY(3.18) scaleX(1.18) skewY(10deg);
    }
    37.5% {
        transform: scaleY(3.5) scaleX(1) skewY(10deg);
    }
    50% {
        transform: scaleY(4) scaleX(1) skewY(14deg);
    }
    62.% {
        transform: scaleY(3.5) scaleX(1) skewY(10deg);
    }
    75% {
        transform: scaleY(3.18) scaleX(1.18) skewY(10deg);
    }
    87.5% {
        transform: scaleY(3) scaleX(1.3) skewY(4deg);
    }
    100% {
        transform: scaleY(2.9) scaleX(1.32) skewY(0deg);
    }
}

@keyframes light-rotate-2 {
    0% {
        transform: translateX(-50%) rotate(0deg);
    }
    25% {
        transform: translateX(-50%) rotate(-25deg);
    }
    40% {
        transform: translateX(-50%) rotate(-37deg);
    }

    50% {
        transform: translateX(-50%) rotate(-43deg);
    }
    60% {
        transform: translateX(-50%) rotate(-37deg);
    }
    75% {
        transform: translateX(-50%) rotate(-25deg);
    }

    100% {
        transform: translateX(-50%) rotate(0deg);
    }
}
@keyframes light-running-1 {
    0% {
        left: 50%;
    }
    50% {
        left: 10%;
    }
    100% {
        left: 50%;
    }
}
@keyframes light-running-2 {
    0% {
        left: 50%;
    }
    50% {
        left: 90%;
    }
    100% {
        left: 50%;
    }
}
